.desktop {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(102deg, #000000, #480909);
  position: relative;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.desktop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image:
    linear-gradient(
      30deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      150deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      30deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      150deg,
      #444cf7 12%,
      transparent 12.5%,
      transparent 87%,
      #444cf7 87.5%,
      #444cf7
    ),
    linear-gradient(
      60deg,
      #444cf777 25%,
      transparent 25.5%,
      transparent 75%,
      #444cf777 75%,
      #444cf777
    ),
    linear-gradient(
      60deg,
      #444cf777 25%,
      transparent 25.5%,
      transparent 75%,
      #444cf777 75%,
      #444cf777
    );
  background-size: 80px 140px;
  background-position:
    0 0,
    0 0,
    40px 70px,
    40px 70px,
    0 0,
    40px 70px;
}

.desktop-icons {
  height: calc(100% - calc(var(--taskbar-height, 40px) + 40px));
  z-index: 1;
}
